<h1><%%= t('<%= singular_name %>.edit') %></h1>

<%%= render :partial => 'form' %>

<%%= link_to t('show'), <%= singular_name %>_path(@<%= singular_name %>) %> |
<%%= link_to t('back'), <%= plural_name %>_path %>
